<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav>
    <ul>
        <li><a href="/alumnos">Volver</a></li>
        <li><a href="/alumnos/insertar">Insertar Datoss</a></li>
        <li><a href="/alumnos/borrar">Borrar Datos</a></li>
        <li><a href="/alumnos">Listado Alumnos</a></li>
        <li><a href="/alumnos/listadoasignaturas">Listado Asignaturas</a></li>   
    </ul>
</nav>
<h1>Listado Asignaturas</h1>
<table border =1>
    <tr th:each="asignatura: ${asignaturas}">
        <td th:text="${asignatura.codasignatura}" />
        <td th:text="${asignatura.nombreasignatura}" />
        <td th:text="${asignatura.descripcion}" />
    </tr>
</table>
</body>
</html>