<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav>
    <ul>
        <li><a href="/alumnos">Volver</a></li>
        <li><a href="/alumnos/insertar">Insertar Datoss</a></li>
        <li><a href="/alumnos/borrar">Borrar Datos</a></li>
        <li><a href="/alumnos">Listado Alumnos</a></li>
        <li><a href="/alumnos/listadoasignaturas">Listado Asignaturas</a></li>
        
    </ul>
</nav>
<h1>Listado Alumnos</h1>
<table border =1>
    <tr th:each="alumno: ${alumnos}">
        <td th:text="${alumno.dni}" />
        <td th:text="${alumno.nombre}" />
        <td th:text="${alumno.apellidos}" />
        <td th:text="${alumno.grupo}" />
    </tr>
</table>
</body>
</html>