<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav>
    <ul>
        <li><a href="/alumnos">Volver</a></li>
        <li><a href="/alumnos/insertar">Insertar Alumnos</a></li>
        <li><a href="/alumnos/borrar">Borrar Alumnos</a></li>
        <li><a href="/alumnos/insertarasignaturas">Insertar Asignaturas</a></li>
        <li><a href="/alumnos/borrarasignaturas">Borrar Asignaturas</a></li>
        <li><a href="/alumnos/insertarcalificaciones">Insertar Calificaciones</a></li>
        <li><a href="/alumnos/borrarcalificaciones">Borrar Calificaciones</a></li>
    </ul>
</nav>
<h1>Listado Alumnos</h1>
<table border =1>
    <tr th:each="alumno: ${alumnos}">
        <td th:text="${alumno.dni}" />
        <td th:text="${alumno.nombre}" />
        <td th:text="${alumno.apellidos}" />
        <td th:text="${alumno.grupo}" />
    </tr>
</table>
</body>
</html>